{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- Contact Start -->
<div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase text-center mx-xl-5 mb-4"><span
            class="bg-secondary pr-3">Check your email</span></h2>
    <div class=" px-xl-5">
        <div class=" mb-5 contact-us" style="">
            <div class="contact-form bg-light p-30">
                <div id="success"></div>
                <h1>Check your email 📩</h1>

                <p>
                    Your account has been created successfully.
                </p>

                <p>
                    We have sent an activation link to your email.
                </p>

                <p>
                    Please click the link in your email to activate your account.
                </p>
            </div>
        </div>

    </div>
</div>
<!-- Contact End -->

{% endblock %}