{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase text-center mx-xl-5 mb-4">
        <span class="bg-secondary pr-3">Create New Password</span>
    </h2>

    <div class="px-xl-5">
        <div class="mb-5 contact-us">
            <div class="contact-form bg-light p-30">
                <form name="register" id="REgisterForm" novalidate="novalidate" method="post">
                    {% csrf_token %}
                    <div class="control-group mb-3">

                        {{ form.new_password1.help_text|safe }}

                        {{ form.new_password1 }}


                        {% if form.new_password1.errors %}
                        <div class="text-danger mt-1">
                            {{ form.new_password1.errors }}
                        </div>
                        {% endif %}

                    </div>

                    <div class="control-group mb-3">

                        {{ form.new_password2 }}

                        {% if form.new_password2.errors %}
                        <div class="text-danger mt-1">
                            {{ form.new_password2.errors }}
                        </div>
                        {% endif %}

                    </div>
                    <button class="btn btn-primary py-2 px-4" type="submit">
                        Save New Password
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}