{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Contact Start -->
<div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase text-center mx-xl-5 mb-4"><span
            class="bg-secondary pr-3">Email Sent</span></h2>
    <div class=" px-xl-5">
        <div class=" mb-5 contact-us" style="">
            <div class="contact-form bg-light p-30">
                <div id="success"></div>
                <h1>Check Your Email</h1>
                <p>
                    If an account exists with the email you entered,
                    a password reset link has been sent.
                </p>
            </div>
        </div>

    </div>
</div>
<!-- Contact End -->

{% endblock %}
